
.button_scroll {
    z-index: 1500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    position: fixed !important;
    bottom: 5vw;
    right: 5vw;
    height: 50px !important;
    width: 50px !important;
    color: $background_filter_blind;
    border-radius: 1vh;
    border: 3px solid $background_filter_blind;
    font-size: 250%;
    font-weight: bolder;
    opacity: .8;
    transition: all .5s cubic-bezier(.17,1.24,.73,1.08) 0s;
    margin: 0 auto;

    @media screen and (max-width: 500px) {
        bottom: 7vw;
        right: 50%;
        transform: translateX(20px);
        height: 40px !important;
        width: 40px !important;
    }

    > div {
        display: flex;
    }
}


.button_scroll:hover {
    opacity: 1;
    color: $color_filter_select;
    border: 3px solid $color_filter_select;
}
