//Home

$color_Home_wrapper: rgb(231, 234, 240);
$color_Home_table: rgb(12, 22, 52);
$color_Home_table_hover:rgb(17, 22, 152);

$background_Home_wrapper: linear-gradient(90deg, rgba(4, 11, 33, 0.9), rgba(4, 11, 33, .8));

$background_Home_1: rgba(208, 212, 221, 0.9);

$background_Home_table: rgb(237, 239, 244);
$background_tr: linear-gradient(to top, rgba(148, 154, 173, 0.35), rgb(225, 228, 235) 50%, rgba(148, 154, 173, 0.35));
$background_tr_hover: rgb(231, 234, 240);
$background_Home_table-scrollbar: linear-gradient(90deg, rgba(40, 54, 98, 0.3), #dadce0, rgba(13, 30, 88, 0.5));


//PageID

$background_pageId: rgba(0, 0, 0, .4);
$background_pageId_2: rgba(0, 0, 0, .1);


//UI
$color-NavigationButton-Text: rgb(12, 22, 52);

