* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
input {
        outline: none !important;
    }



@import './const.scss';

@import'./Home/homeWrapper.scss';
@import'./Home/homeHead.scss';
@import'./Home/homeMain.scss';
@import'./Home/homeFooter.scss';
@import'./Home/Filter.scss'; 

@import './UI/Buttons.scss';

@import './PageId/PageId.scss';
@import './PageId/CommentsMovie.scss';



